html {
	font-family: Poppins, Arial, sans-serif;
}

hr {
	border-color: var(--nc-bg-2);
}

.gray {
	color: gray;
	font-size: 11px;
}

@media (prefers-color-scheme: dark) {
	:root {
	    --nc-tx-1: #ffffff !important;
	    --nc-tx-2: #eeeeee !important;
	    --nc-bg-1: #111111 !important;
	    --nc-bg-2: #222222 !important;
	    --nc-bg-3: #333333 !important;
	    --nc-lk-1: #3291FF !important;
	    --nc-lk-2: #0070F3 !important;
	    --nc-lk-tx: #FFFFFF !important;
	    --nc-ac-1: #7928CA !important;
	    --nc-ac-tx: #FFFFFF !important;
	}
}